{% extends "base.html" %}

{% block title %}
    Delete {{ document.title }} | Vaultora
{% endblock %}


{% block content %}

<div>

    <p>
        <a href="{% url 'documents:detail' document.pk %}">
            ← Back to Document
        </a>
    </p>


    <h1>
        Delete Document
    </h1>


    <p>
        Are you sure you want to delete this document?
    </p>


    <h2>
        {{ document.title }}
    </h2>


    <p>
        <strong>Category:</strong>
        {{ document.get_category_display }}
    </p>


    {% if document.description %}

        <p>
            {{ document.description }}
        </p>

    {% endif %}


    <hr>


    <p>
        <strong>
            Warning:
        </strong>

        This action cannot be undone.
    </p>


    <form method="post">

        {% csrf_token %}


        <button type="submit">
            Yes, Delete Document
        </button>


        <a href="{% url 'documents:detail' document.pk %}">
            Cancel
        </a>

    </form>

</div>

{% endblock %}