{% extends "base.html" %}

{% block title %}Password Reset Complete | Vaultora{% endblock %}

{% block content %}

<div class="auth-container">


<div class="auth-card">

    <div class="auth-header">

        <div class="auth-icon">
            ✅
        </div>

        <h1>Password Reset Complete</h1>

        <p>
            Your Vaultora password has been successfully changed.
        </p>

    </div>


    <div class="password-reset-message">

        <p>
            You can now log in using your new password.
        </p>

    </div>


    <div class="auth-footer">

        <a
            href="{% url 'accounts:login' %}"
            class="primary-button"
        >
            Login to Vaultora
        </a>

    </div>

</div>


</div>

{% endblock %}
